<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Select-variables-for-analysis" data-toc-modified-id="Select-variables-for-analysis-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Select variables for analysis</a></span></li><li><span><a href="#Limit-data-to-subpopulation-of-states-in-19-C-West" data-toc-modified-id="Limit-data-to-subpopulation-of-states-in-19-C-West-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Limit data to subpopulation of states in 19 C West</a></span><ul class="toc-item"><li><span><a href="#Drop--variables-missing-all-values-&amp;-change-state-names" data-toc-modified-id="Drop--variables-missing-all-values-&amp;-change-state-names-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Drop  variables missing all values &amp; change state names</a></span></li></ul></li><li><span><a href="#Export-data-to-Stata" data-toc-modified-id="Export-data-to-Stata-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Export data to Stata</a></span></li></ul></div>

***This notebook takes the big V-Dem dataset (too big for Stata IC) and reduces it to a subset of relevant data, filterned by world region and selected variables on state structuration.***

In [1]:
import pandas as pd
import os

In [2]:
DIRECTORY = os.path.dirname(os.getcwd()) + '/'
print(DIRECTORY)
DATA = DIRECTORY + '00_data/'
print(DATA)

/Volumes/GoogleDrive-107745440581041782819/My Drive/00_Researching/16_SocialScientization/-03/00_replication/
/Volumes/GoogleDrive-107745440581041782819/My Drive/00_Researching/16_SocialScientization/-03/00_replication/00_data/

## Select variables for analysis

In [3]:
variables = """year country_name histname e_regiongeo v2exnamhog v2extithog v2lpname 
e_gdp
e_pelifeex e_pefeliex e_pematmor e_peinfmor
e_miurbani e_miurbpop e_mipopula 
v2x_suffr v2x_polyarchy v2x_partipdem v2x_libdem v2x_delibdem v2x_egaldem v2dlencmps
v2xel_frefair e_polity2 v2xnp_client v2x_partip v2xeg_eqprotec
v2peprisch e_civil_war e_miinteco e_miinterc e_pt_coup 
v3stnatant v3stcitlaw v3stnatbank v3stflag 
v3stcensus v3ststatag v3ststybcov v3ststybpub  
v3ststeecap v2canuni"""
variables = variables.split()

In [4]:
vdem = pd.read_csv(DATA+'01_ivs/' + "VDEM-v12.csv", usecols=variables)

/var/folders/wk/syz2_hq141l5z1r4sy2xjj080000gn/T/ipykernel_88431/3655572050.py:1: DtypeWarning: Columns (364,831,832) have mixed types. Specify dtype option on import or set low_memory=False.
  vdem = pd.read_csv(DATA+'01_ivs/' + "VDEM-v12.csv", usecols=variables)

In [5]:
vdem.shape

(27380, 42)

## Limit data to subpopulation of states in 19 C West

In [6]:
west = vdem.loc[(vdem['e_regiongeo'] < 5) | (vdem['e_regiongeo'] == 16)]

In [7]:
west = west.loc[(west['year'] < 1915) & (west['year'] > 1799)]
# west = west.loc[(west['year'] < 2020) & (west['year'] > 1799)]

In [8]:
west.shape

(3805, 42)

### Drop  variables missing all values & change state names

In [9]:
west.dropna(how='all', axis=1, inplace=True)

In [10]:
west = west.dropna(how='all')

In [11]:
west.shape

(3805, 41)

In [12]:
west.replace("WÃ¼rtemberg", "Wuertemberg", inplace=True)

In [13]:
west.head()

,country_name,year,histname,v2x_polyarchy,v2x_libdem,v2x_partipdem,v2x_delibdem,v2x_egaldem,v2x_suffr,v2xel_frefair,...,e_mipopula,e_miurbani,e_miurbpop,e_pefeliex,e_peinfmor,e_pelifeex,e_pematmor,e_civil_war,e_miinteco,e_miinterc
366,Sweden,1800,Kingdom of Sweden,0.188,0.226,0.05,NaN,NaN,0.0,0.818,...,2500.0,0.058,145.00,33.150,240.0,32.2,896.0,NaN,0.0,0.0
367,Sweden,1801,Kingdom of Sweden,0.188,0.226,0.05,NaN,NaN,0.0,0.818,...,2489.6,0.059,146.46,33.198,204.0,36.9,840.0,NaN,0.0,0.0
368,Sweden,1802,Kingdom of Sweden,0.188,0.226,0.05,NaN,NaN,0.0,0.818,...,2479.2,0.060,147.92,33.246,182.0,40.2,842.0,NaN,0.0,0.0
369,Sweden,1803,Kingdom of Sweden,0.188,0.226,0.05,NaN,NaN,0.0,0.818,...,2468.8,0.061,149.38,33.294,184.0,40.3,819.0,NaN,0.0,0.0
370,Sweden,1804,Kingdom of Sweden,0.188,0.226,0.05,NaN,NaN,0.0,0.818,...,2458.4,0.061,150.84,33.342,185.0,39.7,755.0,NaN,0.0,0.0

## Export data to Stata

In [14]:
west.to_stata(DATA+'01_ivs/' + "west_vdem10.dta", version=118)

In [15]:
for i, country_df in west.groupby("country_name"):
    print(country_df["country_name"])
    break

1753    Albania
1754    Albania
1755    Albania
Name: country_name, dtype: object

In [16]:
l = [1,2,3]
"{l}"

'{l}'