## Goal

Find journals in Peter's csv that are hosted by JSTOR.

## Libraries

In [1]:
import pandas as pd
import glob
import csv

## Read in Data

In [2]:
jstor_txt = glob.glob("*txt")[0]
triad_csv = glob.glob("*csv")[0]
jstor_df = pd.read_csv(jstor_txt, delimiter='\t', usecols=["publication_title"])
triad_df = pd.read_csv(triad_csv)

In [3]:
jstor_df['publication_title'] = jstor_df['publication_title'].apply(lambda x: x.lower())

In [7]:
jstor_df.head()

                           publication_title
0    14th century english mystics newsletter
1                         19th-century music
2                                        291
3                                  4s review
4  vii: journal of the marion e. wade center

In [5]:
triad_df['journal_title'] = triad_df['journal_title'].apply(lambda x: x.lower())

In [8]:
triad_df[['journal_title']].head()

                        journal_title
0  american journal of human genetics
1  american journal of human genetics
2  american journal of human genetics
3  american journal of human genetics
4  american journal of human genetics

### Select rows that appear in jstor

In [ ]:
triads_in_jstor = triad_df[~triad_df.journal_title.isin(jstor_df['publication_title'])]

In [11]:
triads_in_jstor.shape

(14143, 8)

In [12]:
triad_df.shape

(16245, 8)

In [13]:
triads_in_jstor.to_csv("jstor_triads.csv")